body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
}
.main_container{
    height: 100%;
    width: 100%;
    padding: 80px 0;
}

.header{
background-color: rosybrown;
width: 100%;
position: fixed;
top: 0;

}
.footer{
background-color: rosybrown;
bottom: 0;
position: fixed;
width: 100%;
}
.hotel_image{
margin: 2% 4% 0% 4% ;
}
.form{
/* width: 25%; */
margin: 5% 4% 0% 4%;
/* display: flex; */

}
.content{
margin: 1% 4% 1% 4%;
}
#login{
float: right;
margin: 1.5%;
}
.copyright{
text-align: center;
font-size: 10px;
margin:19px 0px;
}
.social_handles{
    float: right;
    padding: 1px;
    margin:11px 2px 1px 0px;
}
.contact{
    float: left;
    margin: 0.6% 2%;
    padding: 0.1% 0.2%;
}
a{
color: black;
text-decoration: none;
}
.image_form{
display: flex;
border: 2px solid black;
margin: 2%;
height: 400px;
}
.image{
width: 70%;
margin-left: 15%;
}
.form_div{
width: 30%;
padding: 1%;
}
.vl {
border-left: 2px solid black;
height: 400px;
}
h4{
font-family: cursive;
}
input{
width: 65%;
padding: 0% 0%;
}
.button{
margin: 0% 0% 0% 40%;
padding: 2%
}

.star{
    font-size: 45px;
}
.checked{
    color: orange;
}
.prev{
    background-color: rosybrown;
}